@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap");

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
}

.main-main-text {
  flex: 1;
  align-items: center;
  padding-left: 8%;
  padding-top: 5%;
  font-weight: 80;
}
.hot-main-text {
  font-size: 58px;
  color: #1f1f1f;
  font-family: Raleway;
  font-weight: 800;
  line-height: 69px;
}
.main-text {
  color: #1f1f1f;
  font-family: Raleway;
  font-size: 14px;
  line-height: 22px;
  height: 66px;
  width: 433px;
}

.clock-timer {
  color: #1f1f1f;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
}
.image-top {
  flex: 1;
  position: relative;
}
.discount-value-icon {
  position: absolute;
  top: 10px;
  left: 260px;
  width: 236.83px;
  height: 236.83px;
}
.delivery-text-icon {
  position: absolute;
  top: 150px;
  left: 260px;
  width: 131px;
  height: 138px;
  z-index: 3;
}

.delivery-text {
  height: 57px;
  width: 84px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  z-index: 4;
  position: absolute;
  top: 195px;
  left: 280px;
  color: #ffffff;
  main-text-align: center;
}

.white-line {
  width: 63.21px;
  z-index: 5;
  position: absolute;
  top: 139px;
  left: 360px;
}

.discount-value {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 800;
  line-height: 47px;
  z-index: 5;
  position: absolute;
  top: 95px;
  left: 340px;
  color: #ffffff;
  main-text-align: center;
}

@media (max-width: 1060px) {
  .discount-value-icon {
    width: 150.83px;
    height: 150.83px;
    top: 10px;
    left: 230px;
  }
  .discount-value {
    top: 60px;
    left: 270px;
    font-size: 30px;
  }
  .white-line {
    width: 63.21px;
    z-index: 5;
    position: absolute;
    top: 100px;
    left: 270px;
  }

  .delivery-text-icon {
    position: absolute;
    top: 120px;
    left: 190px;
    width: 100px;
    height: 100px;
    z-index: 3;
  }
  .delivery-text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    z-index: 4;
    position: absolute;
    top: 150px;
    left: 200px;
    color: #ffffff;
    main-text-align: center;
  }
  .woman {
    width: 300.83px;
    height: 250.83px;
  }
}

@media (max-width: 844px) {
  .discount-value-icon {
    width: 120.83px;
    height: 120.83px;
    top: 10px;
    left: 200px;
  }
  .discount-value {
    top: 50px;
    left: 230px;
    font-size: 30px;
  }
  .white-line {
    width: 63.21px;
    z-index: 5;
    position: absolute;
    top: 90px;
    left: 230px;
  }

  .delivery-text-icon {
    position: absolute;
    top: 90px;
    left: 160px;
    width: 80px;
    height: 80px;
    z-index: 3;
  }
  .delivery-text {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 800;
    line-height: 19px;
    z-index: 4;
    position: absolute;
    top: 113px;
    left: 160px;
    color: #ffffff;
    main-text-align: center;
  }
  .woman {
    width: 250.83px;
    height: 200.83px;
  }
  .main-text {
    width: unset;
  }
}
