.products{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F4F4;

}

.btn{
    width: 300px;
    background-color:#55D187;
    margin:0 auto;
    border: none;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top{
    width:100%
}
.customer{
    display:flex;
    width: 100%;
    align-items: center;
    padding: 40px 0 10px;
}
.content-holder{
    flex-wrap: wrap;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   justify-content: center;
   background-color: #F4F4F4;
}
#loading{
    margin-right: 100px;
    justify-content: center;
}
#loadmore-button{
    background-color:#F4F4F4 ;
}